.red{
    background-color: red;
    border: 2px solid red;
    width: 10%;
    display: inline-block;
    height: 10px;

}
.black{
    background-color:black ;
    width: 10%;
    display: inline-block;
    height: 10px;
}
.row{
border:2px solid black;
}

.container{
    width: 50%;
    margin: 0 auto;
}